body 
{
    background-image: url("1.png") ;
    background-size: cover;
}
body
{
    text-align: center;
}
form1
{
background-color: aliceblue(241,253,324,0.4);
border: radius 35px;
box-shadow: 10px;
height: 600px;
width: 600px;
}




